{{#each products}}
    <h1>Id: <div class="new-color">{{_id}}</div></h1><br><br>
    <h1>Marca: <div class="new-color">{{brand}}</div></h1><br>
    <h1>Modelo: <div class="new-color">{{model}}</div></h1><br>
    <h1>Ano: <div class="new-color">{{year}}</div></h1><br><br>
    
    <h1 style="color: #2b2121">Peças:</h1><br>

    {{#each pieces}}
    <h1>Nome: <div class="new-color">{{name}}</div></h1><br>
    <h1>Quantidade: <div class="new-color">{{amount}}</div></h1><br>
    <h1>Descrição: <div class="new-color">{{description}}</div></h1><br><br><br>
    {{/each}}

    <h1>Data: <div class="new-color">{{createdAt}}</div></h1>
    <a href="/pecas/product/{{_id}}"><input type="submit" value="Alterar"></a>
    <a href="/pecas/delete/{{_id}}"><input type="submit" value="Deletar"></a>
    <hr>
{{/each}}